#AdUserSearchList .searchList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 1180px;
}

#AdUserSearchList .searchList p{
    width: 195px;
    text-align: center;
}