h2{
    font-size: 19px;
}

#AdminBoard{
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ececec;
    height: 100vh;
    width: 1280px;
    margin: 0 auto;
}

#AdminBoard .mainBoard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

#AdminBoard .mainBigList{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    background-color: #f9f9f9;
    border-radius: 7px;
}

#AdminBoard .mainBigList > div{
    padding-left: 15px;
}

#AdminBoard .mainBigList .boardTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ff9a4d ;
    padding: 12px 15px;
}

#AdminBoard .mainBigList .boardTitle p{
    background-color: #ffc69a;
    border-radius: 50px;
    padding: 2px 5px;
    font-size: 12px;
}

#AdminBoard .mainBigList .boardList{
    padding-top: 17px;
    padding-bottom: 20px;
}

#AdminBoard .mainBigList .boardList p{
    margin-bottom: 20px;
}

#AdminBoard .mainBigList .boardList p:last-child{
    margin-bottom: 0;
}

#AdminBoard .secondLine{
    display: flex;
    justify-content: space-between;
}

#AdminBoard .seconLeft{
    margin-bottom: 20px;
}